/* Edit bootstrap style start */

nav.navbar-default {
    border-radius: 0;
    background-color: #a1c45a;
}

nav.navbar-default .navbar-brand {
    color: #ea4c4c;
}

.navbar-default .navbar-form {
    width: 65%;
}

.navbar-form .form-group {
    width: 100%;
    padding-left: 140px;
    padding-right: 80px;

}

.navbar-form .form-control {
    width: 100%;
    background-color: #fff9e0;
}
.navbar-nav>li>.dropdown-menu {
    background-color: #a1c45a;
}
.navbar-nav>li>.dropdown-menu li>a:hover,
.navbar-nav>li>.dropdown-menu li>a:focus {
    background-color: #f1c550;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: #f1c550;
}

.main form .input-group-addon {
    background-color: #f1c550;
    color: #ea4c4c;
}

.main form .form-control:focus {
    border-color: #f1c550;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(241, 197, 80, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(241, 197, 80, 0.6);
}

.cusstom-alert {
    width: 50%;
    margin: auto;
}

#detail-modal .modal-body {
    max-height: 470px;
    overflow-y: auto;
}
.main-lg .tab-content {
    padding: 20px 10px;
}
.nav-tabs>li>a {
    color: #74ab05;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #f1c550;
}
.nav-tabs {
    border-bottom: 1px solid #f1c550;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid #f1c550;
    border-bottom-color: transparent;
}
.table.general>tbody>tr>td {
    border: none;
    border-bottom: 1px solid #ddd;
}
/* Edit bootstrap style end */

/* include my style start */

body {
    background-color: #fff9e0;
}

.main, .main-lg {
    margin: 60px auto;
    padding: 10px 20px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 8px;
}
.main-lg {
    width: 90%;
}
.main {
    width: 50%;
}

.main>h3 {
    margin-bottom: 40px;
}

.main>form>.input-group {
    padding: 10px 30px;
}

.main>form>.row.form-btn {
    padding: 10px 30px;
}

.main>form>.row.form-btn div input {
    width: 100%;
    padding: 4px;
    background-color: transparent;
    border: 1px solid #a1c45a;
    border-radius: 5px;
}

.main>form>.row.form-btn div input.btn-reset {
    border: 1px solid #ea4c4c;
}

.main>form>.row.form-btn div input.btn-submit:hover,
.main>form>.row.form-btn div input.btn-submit:focus {
    background-color: #a1c45a;
}

.main>form>.row.form-btn div input.btn-reset:hover,
.main>form>.row.form-btn div input.btn-reset:focus {
    background-color:  #ea4c4c;
}

/* include my style end */

/* For selected item in navbar */

a.selected {
    background-color: #f1c550 !important;
}